{% load static %}
<!DOCTYPE html>

<html>
    <!--JavaScript for setup and input-->
    <script>
        // Run once the document has loaded
        $(document).ready(function() {
            // Get CSRF token, mandatory security for AJAX
            var csrftoken = getCookie('csrftoken');
            // Hide text
            $('#wintext').hide();

            var draw_data = JSON.parse($('#draw_data').attr('data-pass'));

            // Set up the board
            var corner_positions = [];
            var tile_positions = [];
            setup_board(corner_positions, tile_positions);
            draw_board(corner_positions, tile_positions, draw_data);

            // Set up player display
            add_menu_item("player1_inventory", "player1_wool", "wool 0");
            add_menu_item("player1_inventory", "player1_grain", "grain 0");
            add_menu_item("player1_inventory", "player1_lumber", "lumber 0");
            add_menu_item("player1_inventory", "player1_brick", "brick 0");
            add_menu_item("player1_inventory", "player1_ore", "ore 0");
            add_menu_item("player1_inventory", "player1_title", "player 1");

            // Initial announcement
            $('.announcer').html("Game setup; all players place their "
            + "two starting settlements.");

            // Hide elements until players finish setting up
            $('.end_turn').hide();
            $('.build_settlement').hide();
            $('.build_road').hide();
            $('.build_city').hide();
            $('.cancel').hide();
            $('#player1_inventory').hide();

            // Erasure functions
            // Dump cache
            $('.clear_data').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'clear_data'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });
            // Clear database
            $('.clear_database').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'clear_database'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });
            // Reset game variables
            $(window).on('beforeunload', function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'unload'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });

            // Register the "cancel" button
            $('.cancel').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'cancel'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        $('.cancel').hide(); // Hide the "cancel" button
                    }
                });
            });

            // Build buttons
            // Register the "build settlement" button
            $('.build_settlement').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_settlement'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {$('.cancel').show();}
                    }
                });
            });
            // Register the "build road" button
            $('.build_road').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_road'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {$('.cancel').show();}
                    }
                });
            });
            // Register the "build city" button
            $('.build_city').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_city'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {$('.cancel').show();}
                    }
                });
            });

            // Register the "end turn" button
            $('.end_turn').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'end_turn'},
                    headers: {'X-CSRFToken': csrftoken},
                    
                    success: function(response) {
                        announce(response); // Display a message
                        $('.cancel').hide(); // Hide the "cancel" button

                        // Normal gather case; update player inventories
                        if (response['robber_flag'] == 0) {update_inventories(response);}
                        // Special robber case; start interaction
                        else if (response['robber_flag'] == 1) {
                            $('.end_turn').hide();
                            $('.build_settlement').hide();
                            $('.build_road').hide();
                            $('.build_city').hide();
                        }
                        
                    }
                });
            });

            // React to a corner being clicked
            $('#corner_sensors').on('click', 'circle', function(event) {
                var position = $(this).attr('data-id').split(',');
                console.log("Corner " + position);
                var xindex = parseInt(position[0]);
                var yindex = parseInt(position[1]);
                // Store the sensor circle
                var clicked_circle = $(this);

                $.ajax({
                    url: '/catan/',
                    method: 'POST',
                    data: {
                        'input': 'corner',
                        'xindex': xindex,
                        'yindex': yindex,
                    },
                    headers: {'X-CSRFToken': csrftoken},

                    success: function(response) {
                        // Display a message
                        announce(response);

                        // Draw if the corner was successfully built on
                        if (response && response['build_success'] == 1) {
                            draw_build_items(response, corner_positions, xindex, yindex);
                            update_inventories(response); // Update player inventories
                            
                            // Victory condition: 10 buildings
                            if (response['number_buildings'] >= 10) {
                                declare_winner(1)
                            }
                        }

                        // Reveal elements after setup
                        if (response['setup_flag'] == 0 && $('.end_turn').is(':hidden')) {
                            $('.end_turn').show();
                            $('.build_settlement').show();
                            $('.build_road').show();
                            $('.build_city').show();
                            $('#player1_inventory').show();
                        }
                    }
                });
            });

            // React to a tile being clicked
            $('#tile_sensors').on('click', 'circle', function(event) {
                var position = $(this).attr('data-id').split(',');
                console.log("Tile " + position);
                var xindex = parseInt(position[0]);
                var yindex = parseInt(position[1]);

                $.ajax({
                    url: '/catan/',
                    method: 'POST',
                    data: {
                        'input': 'tile',
                        'xindex': xindex,
                        'yindex': yindex,
                    },
                    headers: {'X-CSRFToken': csrftoken},

                    success: function(response) {
                        // Display a message
                        announce(response);

                        // Move the robber, if the game is in that phase
                        if (response['robber_flag_start'] == 1 && response['move_success'] == 1) {
                            move_robber(tile_positions, xindex, yindex);
                            update_inventories(response)
                            $('.end_turn').show();
                            $('.build_settlement').show();
                            $('.build_road').show();
                            $('.build_city').show();
                        }
                    }
                });
            });
        });
    </script>
</html>