{% load static %}
<!DOCTYPE html>

<html>
    <!--JavaScript for setup and input-->
    <script>
        // Run once the document has loaded
        $(document).ready(function() {
            // Get CSRF token, mandatory security for AJAX
            var csrftoken = getCookie('csrftoken');
            // Hide text
            $('#wintext').hide();

            var draw_data = JSON.parse($('#draw_data').attr('data-pass'));

            // Menu variables
            var trade_spacing = "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp";
            var player_steadiness = [false, false, false];

            // Set up the board
            var corner_positions = [];
            var tile_positions = [];
            setup_board(corner_positions, tile_positions);
            draw_board(corner_positions, tile_positions, draw_data);

            // Set up player display
            /*add_menu_item("player1_inventory", "player1_wool", "wool 0");
            add_menu_item("player1_inventory", "player1_grain", "grain 0");
            add_menu_item("player1_inventory", "player1_lumber", "lumber 0");
            add_menu_item("player1_inventory", "player1_brick", "brick 0");
            add_menu_item("player1_inventory", "player1_ore", "ore 0");
            add_menu_item("player1_inventory", "player1_title", "player 1");*/

            //$(".trade-input").hide();

            // Initial announcement
            $('.announcer').html("Game setup; all players place their "
            + "two starting settlements.");

            // Hide elements until players finish setting up
            $('.end_turn').hide();
            $('.build-container').hide();
            $('.trade').hide();
            $('.accept').hide();
            $('.cancel').hide();
            $('#player1').hide();
            $('#player2').hide();
            $('#player3').hide();
            $('.inventory-display').hide();
            $('#ore .trade-display').html("ore:"+trade_spacing+"/0");
            $('#brick .trade-display').html("brick:"+trade_spacing+"/0");
            $('#lumber .trade-display').html("lumber:"+trade_spacing+"/0");
            $('#grain .trade-display').html("grain:"+trade_spacing+"/0");
            $('#wool .trade-display').html("wool:"+trade_spacing+"/0");

            // Menu hover/click
            $(".build-base").mouseenter(function() {$(".build-menu").show();});
            $(".build-base").mouseleave(function() {$(".build-menu").hide();});
            $(".build-menu").mouseenter(function() {$(".build-menu").show();});
            $(".build-menu").mouseleave(function() {$(".build-menu").hide();});
            $(".inventory-base").click(function() {
                var player = $(this).parent().attr('id');
                var menu = "#"+player+" .inventory-content";
                var steadiness = false;
                var index = -1;
                if (player == "player1") {index = 0;}
                else if (player == "player2") {index = 1;}
                else if (player == "player3") {index = 2;}
                steadiness = player_steadiness[index];
                if (steadiness == false) {
                    player_steadiness[index] = true;
                    $(menu).show();
                }
                else if (steadiness == true) {
                    player_steadiness[index] = false;
                    $(menu).hide();
                }
            });
            $(".inventory-base").mouseenter(function() {
                var player = $(this).parent().attr('id');
                var menu = "#"+player+" .inventory-content";
                $(menu).show();
            });
            $(".inventory-content").mouseenter(function() {
                var player = $(this).parent().attr('id');
                var menu = "#"+player+" .inventory-content";
                $(menu).show();
            });
            $(".inventory-base").mouseleave(function() {
                var player = $(this).parent().attr('id');
                var menu = "#"+player+" .inventory-content";
                var steadiness = false;
                var index = -1;
                if (player == "player1") {index = 0;}
                else if (player == "player2") {index = 1;}
                else if (player == "player3") {index = 2;}
                steadiness = player_steadiness[index];
                if (steadiness == false) {
                    $(menu).hide();
                }
            });
            $(".inventory-content").mouseleave(function() {
                var player = $(this).parent().attr('id');
                var menu = "#"+player+" .inventory-content";
                var steadiness = false;
                var index = -1;
                if (player == "player1") {index = 0;}
                else if (player == "player2") {index = 1;}
                else if (player == "player3") {index = 2;}
                steadiness = player_steadiness[index];
                if (steadiness == false) {
                    $(menu).hide();
                }
            });
            
            // Erasure functions
            // Dump cache
            $('.clear_data').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'clear_data'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });
            // Clear database
            $('.clear_database').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'clear_database'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });
            // Reset game variables
            $(window).on('beforeunload', function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'unload'},
                    headers: {'X-CSRFToken': csrftoken},
                });
            });

            // Register the "cancel" button
            $('.cancel').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'cancel'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        $('.cancel').hide();
                        $('.accept').hide();
                    }
                });
            });

            // Build buttons
            // Register the "build settlement" button
            $('.build-menu #settlement').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_settlement'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {
                            $('.cancel').show();
                            $('.accept').hide();
                        }
                    }
                });
            });
            // Register the "build road" button
            $('.build-menu #road').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_road'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {
                            $('.cancel').show();
                            $('.accept').hide();
                        }
                    }
                });
            });
            // Register the "build city" button
            $('.build-menu #city').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'build_city'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        
                        // Show the "cancel" button, if the player can afford to build
                        if (response['can_afford']) {
                            $('.cancel').show();
                            $('.accept').hide();
                        }
                    }
                });
            });

            // Register the "trade" button
            $('.trade').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'trade'},
                    headers: {'X-CSRFToken': csrftoken},

                    success: function(response) {
                        $('.cancel').show();
                        $('.accept').show();
                    }
                });
            });

            // Register the "accept" button
            $('.accept').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'accept'},
                    headers: {'X-CSRFToken': csrftoken},
                    success: function(response) { 
                        announce(response); // Print response
                        $('.cancel').hide();
                        $('.accept').hide();
                    }
                });
            });

            // Register the "end turn" button
            $('.end_turn').click(function() {
                $.ajax({
                    url: '/catan/',
                    type: 'POST',
                    data: {'input': 'end_turn'},
                    headers: {'X-CSRFToken': csrftoken},
                    
                    success: function(response) {
                        announce(response); // Display a message
                        
                        // Hide the cancel and accept buttons
                        $('.accept').hide();
                        $('.cancel').hide();

                        // Normal gather case; update player inventories
                        if (response['robber_flag'] == 0) {update_inventories(response);}
                        // Special robber case; start interaction
                        else if (response['robber_flag'] == 1) {
                            $('.end_turn').hide();
                            $('.build-container').hide();
                            $('.trade').hide();
                        }
                        
                    }
                });
            });

            // React to a corner being clicked
            $('#corner_sensors').on('click', 'circle', function(event) {
                var position = $(this).attr('data-id').split(',');
                console.log("Corner " + position);
                var xindex = parseInt(position[0]);
                var yindex = parseInt(position[1]);
                // Store the sensor circle
                var clicked_circle = $(this);

                $.ajax({
                    url: '/catan/',
                    method: 'POST',
                    data: {
                        'input': 'corner',
                        'xindex': xindex,
                        'yindex': yindex,
                    },
                    headers: {'X-CSRFToken': csrftoken},

                    success: function(response) {
                        // Display a message
                        announce(response);

                        // Draw if the corner was successfully built on
                        if (response && response['build_success'] == 1) {
                            draw_build_items(response, corner_positions, xindex, yindex);
                            update_inventories(response); // Update player inventories
                            
                            // Victory condition: 10 buildings
                            if (response['winner'] && response['winner']> 0) {
                                declare_winner(response['winner']);
                            }
                        }

                        // Reveal elements after setup
                        if (response['setup_flag'] == 0 && $('.end_turn').is(':hidden')) {
                            $('.end_turn').show();
                            $('.build-container').show();
                            $('.trade').show();
                            $('#player1').show();
                            $('#player2').show();
                            $('#player3').show();
                        }
                    }
                });
            });

            // React to a tile being clicked
            $('#tile_sensors').on('click', 'circle', function(event) {
                var position = $(this).attr('data-id').split(',');
                console.log("Tile " + position);
                var xindex = parseInt(position[0]);
                var yindex = parseInt(position[1]);

                $.ajax({
                    url: '/catan/',
                    method: 'POST',
                    data: {
                        'input': 'tile',
                        'xindex': xindex,
                        'yindex': yindex,
                    },
                    headers: {'X-CSRFToken': csrftoken},

                    success: function(response) {
                        // Display a message
                        announce(response);

                        // Move the robber, if the game is in that phase
                        if (response['robber_flag_start'] == 1 && response['move_success'] == 1) {
                            move_robber(tile_positions, xindex, yindex);
                            update_inventories(response)
                            $('.end_turn').show();
                            $('.build-container').show();
                            $('.trade').show();
                        }
                    }
                });
            });
        });
    </script>
</html>