<!--~~~ CREDITS.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/27/24 (20:23) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	TODO:	Summarize all references/sources used, if time permits.

	This is the template for the "Credits" page. It briefly lists website
	contributors/developers.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- page title -->
	<title>{% block title %}Credits | TheGoblinEnclave{% endblock title %}</title>
	<!-- internal styles / stylesheets -->
	{% block styles %}
	<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
	<style>
		/* .container { max-width: 800px; margin: 50px auto; padding: 0 20px; text-align: center; } */
	</style>
	{% endblock styles %}
</head>
<body>
	<!-- main header -->
	{% block header %}Credits{% endblock header %}
	<!-- page content -->
	{% block content %}
	<div class="container">
		<!-- main page heading -->
		<h1 class="page-header">Credits</h1>
		<p>
			This webpage can be credited to the efforts of Nathan Young, Eva Cihak, and Anthony Ramos.
		</p>
		<p><small>
			For the low price of <i>1 bitcoin</i>, you can support these prospective web developers in their journey to fame and fortune.
		</small></p>
		{% endblock content %}
	</div>
</body>
</html>