<!--~~~ CREDITS.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
Last edit on 04/28/24 (01:00) by @cihake

NOTE:	The contents of this template extend the 'base.html' master
		template. Please review base.html, its content blocks, and its
		included snippets before modifying this file. This will help
		prevent duplicate/conflicting elements and rendering issues.

TODO:	Summarize all references/sources used, if time permits.

This is the template for the "Credits" page. It briefly lists website
contributors/developers.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EXTENDS: base.html (master template)-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Credits | TheGoblinEnclave{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
<style>
	#randomAd { margin-bottom: 20px; }
	.ad-image { width: 100%; border: 1px solid #6bff6b; border-radius: 2px; }
</style>
{% endblock styles %}

{% block header %}Credits{% endblock header %}

{% block content %}
<p>This webpage can be credited to the efforts of Nathan Young, Eva Cihak, and Anthony Ramos.</p>
<p><small>For the low price of <i>1 bitcoin</i>, you can support these prospective web developers in their journey to fame and fortune.</small></p>
{% endblock content %}

{% block scripts %}{% endblock scripts %}