<!--~~~ HOME.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/28/24 (01:00) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	This template serves as the site's home/landing page. The page includes
	space for ads, body text, and (of course) the board game containers. Users
	who are logged into their account will see a personalized "welcome message".
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EXTENDS: base.html (master template)-->
{% extends 'base.html' %}

<!-- LOAD: static content -->
{% load static %}

<!-- BLOCK: page title -->
{% block title %}Home | TheGoblinEnclave{% endblock title %}

<!-- BLOCK: internal styles / stylesheets -->
{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
<style>
	.image { margin-bottom: 20px; }
	.image img { width: 100%; border: 3px solid #6bff6b; border-radius: 10px; cursor: pointer; }
	.image-title { font-weight: bold; }
	#randomAd { margin-bottom: 20px; }
	.ad-image { width: 100%; border: 1px solid #6bff6b; border-radius: 2px; }
</style>
{% endblock styles %}

<!-- BLOCK: main header -->
{% block header %}Home{% endblock header %}

<!-- BLOCK: page content -->
{% block content %}
<!-- landing page welcome message -->
<!-- user is logged into account -->
{% if request.user.is_authenticated %}
<h2>Welcome back, <em class="text-primary">{{request.user.username}}</em>!</h2>
<!-- user is logged out or has no registered account; guest -->
{% else %}
<h2>Welcome to The Goblin Enclave!</h2>
{% endif %}
<!-- board games -->
<div class="row">
	<!-- Monopoly game container -->
	<div class="col-md-4">
		<div class="image">
			<a href="monopoly">
				<img src="{% static 'Monopoly.jpg' %}" alt="Monopoly">
			</a>
			<p class="image-title">Monopoly</p>
		</div>
	</div>
	<!-- Candy Land game container -->
	<div class="col-md-4">
		<div class="image">
			<a href="candyland">
				<img src="{% static 'Candyland.jpg' %}" alt="Candyland">
			</a>
			<p class="image-title">Candyland</p>
		</div>
	</div>
	<!-- Settlers of Catan game container -->
	<div class="col-md-4">
		<div class="image">
			<a href="catan">
				<img src="{% static 'SettlersOfCatan.jpg' %}" alt="Settlers of Catan">
			</a>
			<p class="image-title">Settlers of Catan</p>
		</div>
	</div>
</div>
{% endblock content %}

<!-- BLOCK: additional/page-specific scripts -->
{% block scripts %}{% endblock scripts %}