<!--~~~ COIN_BALANCE.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/28/24 (01:10) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	This is the template for the "Coins" page. This page becomes accessible
	once a user is logged into their account. It displays a user's coin balance.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EXTENDS: base.html (master template)-->
{% extends 'base.html' %}

<!-- LOAD: static content -->
{% load static %}

<!-- BLOCK: page title -->
{% block title %}Coins | TheGoblinEnclave{% endblock title %}

<!-- BLOCK: internal styles / stylesheets -->
{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
<style>
	#randomAd { margin-bottom: 20px; }
	.ad-image { width: 100%; border: 1px solid #6bff6b; border-radius: 2px; }
</style>
{% endblock styles %}

<!-- BLOCK: main header -->
{% block header %}Your Coin Balance{% endblock header %}

<!-- BLOCK: page content -->
{% block content %}
<div class="row">
	<!-- card -->
	<div class="card text-center text-white bg-secondary mb-3" style="max-width: 20rem;">
		<div class="card-header">Hello, {{ coin.user.username }}!</div>
		<div class="card-body">
			<h4 class="card-title">Your current coin balance is: {{ coin.amount }}</h4>
			<p class="card-text">Want more coins? Play more games!</p>
		</div>
	</div>
</div>
{% endblock content %}

<!-- BLOCK: additional/page-specific scripts -->
{% block scripts %}{% endblock scripts %}