<!--~~~ COIN_BALANCE.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/27/24 (20:24) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	This is the template for the "Coins" page. This page becomes accessible
	once a user is logged into their account. It displays a user's coin balance.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- page title -->
	<title>{% block title %}Coins | TheGoblinEnclave{% endblock title %}</title>
	<!-- internal styles / stylesheets -->
	{% block styles %}
	<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
	<style>
		/* .container { max-width: 800px; margin: 0 auto; padding: 20px; text-align: center; } */
	</style>
	{% endblock styles %}
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
	<!-- main header -->
	{% block header %}Balance{% endblock header %}
	<!-- page content -->
	{% block content %}
	<div class="row">
		<!-- main page heading -->
		<h1 class="page-header text-center">Your Coin Balance</h1>
		<!-- card -->
		<div class="card text-center text-white bg-secondary mb-3" style="max-width: 20rem;">
			<div class="card-header">Hello, {{ coin.user.username }}!</div>
			<div class="card-body">
				<h4 class="card-title">Your current coin balance is: {{ coin.amount }}</h4>
				<p class="card-text">Want more coins? Play more games!</p>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	{% endblock content %}
</body>
</html>