<!--~~~ LEADERBOARD.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/28/24 (01:07) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	This is the template for the "Leaderboard" page. It is accessible to both
	guest users and authorized accounts. It lists all created accounts, sorted
	by their total number of wins.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EXTENDS: base.html (master template)-->
{% extends 'base.html' %}

<!-- LOAD: static content -->
{% load static %}

<!-- BLOCK: page title -->
{% block title %}Leaderboard | TheGoblinEnclave{% endblock title %}

<!-- BLOCK: internal styles / stylesheets -->
{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
<style>
	#randomAd { margin-bottom: 20px; }
	.ad-image { width: 100%; border: 1px solid #6bff6b; border-radius: 2px; }
</style>
{% endblock styles %}

<!-- BLOCK: main header -->
{% block header %}Leaderboard{% endblock header %}

<!-- BLOCK: page content -->
{% block content %}
<div class="row">
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th scope="col">Rank</th>
				<th scope="col">Username</th>
				<th scope="col">Wins</th>
			</tr>
		</thead>
		<tbody>
		{% for entry in leaderboard %}
		<tr>
			<td>{{ forloop.counter }}</td>		<!-- Displays rank -->
			<td>{{ entry.user.username }}</td>	<!-- Displays username -->
			<td>{{ entry.score }}</td>			<!-- Displays wins -->
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}

<!-- BLOCK: additional/page-specific scripts -->
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock scripts %}