<!--~~~ LOGIN.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
	Last edit on 04/27/24 (20:24) by @cihake
	
	NOTE:	The contents of this template extend the 'base.html' master
			template. Please review base.html, its content blocks, and its
			included snippets before modifying this file. This will help
			prevent duplicate/conflicting elements and rendering issues.

	This is the template for the "Login" page. This page is accessible if the
	current user is not logged into a account (i.e. a guest). It displays the
	necessary login fields for inputting a user's credentials. If this info
	doesn't match any database entries, an error message is shown.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- page title -->
	<title>{% block title %}Login | TheGoblinEnclave{% endblock title %}</title>
	<!-- internal styles / stylesheets -->
	{% block styles %}
	<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
	<style>
		.container { max-width: 800px; margin: 0 auto; padding: 20px; text-align: center; }
	</style>
	{% endblock styles %}
</head>
<body>
	<!-- main header -->
	{% block header %}Login{% endblock header %}
	<!-- page content -->
	{% block content %}
	<div class="row">
		<!-- main page heading -->
		<h1 class="page-header">Login</h1>
		<!-- Creates a form that submits data using the POST method;
			'{% csrf_token %}' is a security measure to prevent CSRF attacks -->
		<form method="post">{% csrf_token %}

			<!-- Loops through login form fields & displays them iteratively -->
			{% for field in login_form %}
			<p>
				{{field.label_tag}}	<!-- Displays the form field label -->
				{{field}}			<!-- Displays the form field -->

				<!-- Checks field for associated help text & displays it, if any-->
				{% if field.help_text %}
				<small style="color: grey;">{{field.help_text}}</small>
				{% endif %}
			</p>
			{% endfor %}

			<!-- Iterates thru login form fields & displays errors, if any -->
			{% for field in login_form %}
			{% for error in field.errors %}
			<p style="color:red;">{{error}}</p>
			{% endfor %}
			{% endfor %}

			<!-- Checks any non-field errors in the login form & displays them, if any -->
			{% if login_form.non_field_errors %}
			<div style="color:red;"><p>{{login_form.non_field_errors}}</p></div>
			{% endif %}
			
			<!-- Form submit button -->
			<button type="submit" class="btn btn-success">Login</button>
		</form>
	</div>
	{% endblock content %}
</body>
</html>