<!--~~~ REGISTER.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
Last edit on 04/28/24 (00:10) by @cihake

NOTE:	The contents of this template extend the 'base.html' master
		template. Please review base.html, its content blocks, and its
		included snippets before modifying this file. This will help
		prevent duplicate/conflicting elements and rendering issues.

This is the template for the "Register" page. This page is accessible if
the current user is not logged into a account (i.e. a guest), displaying
the necessary fields for creating a new account. If this info doesn't
meet certain specifications, an error message is shown.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!-- EXTENDS: base.html (master template)-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Register | TheGoblinEnclave{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.css">
<style>
	#randomAd { margin-bottom: 20px; }
	.ad-image { width: 100%; border: 1px solid #6bff6b; border-radius: 2px; }
</style>
{% endblock styles %}
{% block header %}Register an account{% endblock header %}
{% block content %}
<div class="row">
	<!-- Creates a form that submits data using the POST method;
	'{% csrf_token %}' is a security measure to prevent CSRF attacks -->
	<form method="post">{% csrf_token %}
		<!-- Loops through registration form fields & displays them iteratively -->
		{% for field in registration_form %}
		<p>
			<!-- Displays the form field label -->
			{{field.label_tag}}
			<!-- Displays the form field -->
			{{field}}
			<!-- Checks field for associated help text & displays it, if any-->
			{% if field.help_text %}
			<small style="color: grey;">{{field.help_text}}</small>
			{% endif %}
			<!-- Iterates thru registration form fields & displays errors, if any -->
			{% for error in field.errors %}
			<p style="color:red;">{{error}}</p>
			{% endfor %}
		</p>
		{% endfor %}
		<!-- Form submit button -->
		<button type="submit" class="btn btn-success">Register</button>
	</form>
</div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}