<!--~~~ FOOTER.HTML ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
Last edit on 04/28/24 (00:31) by @cihake

IMPORTANT:	Changes made to this file will modify ANY/ALL templates that
			'extend' base.html. Exercise caution!

The below code snippets are elements used frequently throughout the website.
Any templates extending 'base.html' will automatically have the following
lines of code appended to them, as base.html 'includes' this file and all
of its contents.
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% load static %}
<hr>
<div class="row">
	<div style="margin-top: 60px; text-align: center;">
		<p>
			<a href="https://github.com/cihake/gui-goblins/" onclick="playClickSound()">GitHub</a> |
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" onclick="playClickSound()">Fun</a> |
			<a href="{% url 'credits' %}" onclick="playClickSound()">About</a>
		</p>
		<p>TheGoblinEnclave.com © 2024</p>
	</div>
</div>